/* Colors */
/* peach = #cc6f64
burgundy = #79262d
black */

/* logo= <a href="https://www.clipartmax.com/middle/m2i8A0K9N4H7G6i8_running-man-silhouette-logo/" target="_blank">Running Man Silhouette Logo @clipartmax.com</a> */

/* || Header & Nav */
header {
  background-color: white;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

#logo {
  color: #79262d;
  font-size: 2rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "Teko", sans-serif;
}

header a {
  text-decoration: none;
}

#logo:hover {
  opacity: 0.7;
}

.nav-item {
  list-style: none;
  display: inline-block;
  padding: 0.5em;
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
}
.nav-link,
a {
  text-decoration: none;
  color: #79262d;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
}

.nav-link:hover {
  opacity: 0.7;
}

/* #app-bar,
#top-nav {
  background-color: white;
  color: #79262d;
}

#nav-bar-title,
#toolbar {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
} */

.main {
  background-image: url("https://images.unsplash.com/photo-1502904550040-7534597429ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1249&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
  color: #79262d;
}

.add-run-form,
.login-form,
.signup-form {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  width: 90%;
  border-radius: 13px;
  font-family: "Open Sans", sans-serif;
  background-color: #79262d;
  color: white;
}

.signup-login-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h2,
.signup-form h2 {
  color: white;
  padding: 0;
}

.form-field {
  padding: 1em;
  margin: 0.5em;
}

#submit-run-btn {
  font-size: 1.3rem;
  font-family: "Teko", sans-serif;
  color: white;
  background: black;
  padding: 8px;
  border-radius: 13px;
  text-decoration: none;
  vertical-align: middle;
  margin: 0.5em;
}

.run-card {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em;
  border-radius: 13px;
  font-family: "Open Sans", sans-serif;
  background-color: #79262d;
  color: white;
}

.run-card button {
  font-size: 1rem;
  font-family: "Teko", sans-serif;
  color: white;
  background: black;
  padding: 5px;
  border-radius: 13px;
  text-decoration: none;
  vertical-align: middle;
  margin: 0.5em;
}

/* || Footer */
footer {
  position: fixed;
  bottom: 0;
  box-shadow: 2px -1px 3px rgba(206, 205, 205, 0.582);
  background-color: white;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

footer p {
  color: #cc6f64;
  font-size: 0.9rem;
  font-family: "Teko", sans-serif;
}
