/* Colors */
/* peach = #cc6f64
burgundy = #79262d
black */

#app-bar,
#top-nav {
  background-color: white;
  color: #79262d;
}

#nav-bar-title,
#toolbar {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
}

.main {
  background-image: url("https://images.unsplash.com/photo-1502904550040-7534597429ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1249&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}

/* || Footer */
footer {
  position: fixed;
  bottom: 0;
  box-shadow: 2px -1px 3px rgba(206, 205, 205, 0.582);
  background-color: white;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

footer p {
  color: #cc6f64;
  font-size: 0.9rem;
  font-family: "Teko", sans-serif;
}
