/* Colors */
/* peach = #cc6f64
burgundy = #79262d
black */

#app-bar {
  background-color: white;
  color: #79262d;
}

.main {
  background-image: url("https://images.unsplash.com/photo-1502904550040-7534597429ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1249&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
